[Unit]
Description=Dylos Sensornet Service
After=network.target
StartLimitIntervalSec=0

[Service]
StandardOutput=journal
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/mosquitto_sub -h sensornet.local -t '#' -v

[Install]
WantedBy=multi-user.target

